.container {
    text-align: center;
    margin-top: 20px;
}

#distribution-menu {
    display: inline-block;
    margin-top: 30px;
    font-size: 50px;
    white-space: nowrap;
    line-height: 1.5;
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    animation: cursor-blink 600ms steps(29, end) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes cursor-blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(0, 0, 0);
    }
}